<html>
    <head>
        <script src="https://apis.google.com/js/platform.js" async defer></script>
        <meta name="google-signin-client_id" content="430259369122-fmo7645eiuq3j925qf3mf5fasiivrak5.apps.googleusercontent.com">

    </head>
    <body> 
        <h1>Login</h1>
        <div class="g-signin2" data-onsuccess="onSignIn"></div>
        <a href="#" onclick="signOut();">Sign</a>

    </body>
    <script>
        function onSignIn(googleUser) {
                var id_token = googleUser.getAuthResponse().id_token;
                var xhr = new XMLHttpRequest();
                xhr.open('POST', '/loginoauth');
                xhr.setRequestHeader('Content-Type', 'application/x-www-form-urlencoded');
                xhr.onload = function() {
                console.log('Signed in as: ' + xhr.responseText);
                };
                xhr.send(JSON.stringify({token:id_token}));
}
        </script>
        <script>
            function signOut() {
              var auth2 = gapi.auth2.getAuthInstance();
              auth2.signOut().then(function () {
                console.log('User signed out.');
              });
            }
          </script>
</html>
