<!DOCTYPE html>
<html>
    <head>
        <title>
            Reset Password
        </title>
    </head>
    <form action="" method="POST">
        <input type="text" name="newPassword" required=true><br>
        <button type="submit">ResetPassword</button>
    </form>
</html>